{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }

    * {
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - Admin Page</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="#" data-toggle="modal" data-target="#new_user">Add New User</a>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="new_user" style="color: #01272e;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <form action="new-user" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="email" name="username" placeholder="Email ID (Username)" class="form-control"><br>
            <input type="text" name="password" placeholder="Password" class="form-control"><br>
            <select class="form-control" name="role">
              <option value=''>Select Role</option>
              <option value="faculty">Faculty</option>
              <option value="chief_mentor">Chief Mentor</option>
              <option value="admin">Admin</option>
            </select>
        </div>
        <div class="modal-footer">
          <button style="margin-left:0;" type="submit" name="new_user" class="btn btn-success">CREATE</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>

        </div>
      </div>
    </div>
  </div>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <div id="admin-top-buttons">
    <form method="GET">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search By First Name" value="{{search}}" name="search">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <br><br>
  <div class="pagination" style="margin: 10px 0 10px 45.5%;">
    <span class="step-links">
      {% if users.has_previous %}
      <a href="?page={{ users.previous_page_number }}"><input type="button" value="Previous"></a>
      {% endif %}

      <span class="current">
        Page {{ users.number }} of {{ users.paginator.num_pages }}
      </span>

      {% if users.has_next %}
      <a href="?page={{ users.next_page_number }}"><input type="button" value="Next"></a>
      {% endif %}
    </span>
  </div>
  <table class="tftable" border="1">
    <tr>
      <th>Login ID</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Is Active?</th>
      <th>Created_at</th>
      <th>Actions</th>
    </tr>
    {% for user in users %}
    {% if user_id != user.id %}
    <tr style="text-align: center;">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <form action="activate">
          {{ user.active }}
          <input type="number" name="active_user_id" value="{{ user.id }}" style="display: none;">
          <input type="submit" value="Change" style="background-color: rgb(255, 191, 73);">
        </form>
      </td>
      <td>{{ user.created_at }}</td>
      <td style="width: 180px;">
        <form action="delete-user" style="display: flex; float: right;">
          <input type="number" name="delete_user_id" value="{{ user.id }}" style="display: none;">
          <input type="submit" style="background-color: rgb(252, 62, 62);" value="Delete">
        </form>
        <form style="display: flex; float: right" action="more-details">
          <input type="number" name="faculty_details_id" value="{{ user.id }}" style="display: none;">
          <input type="submit" style="background-color: rgb(38, 96, 255);" value="Details">
        </form>
        <input type="button" data-toggle="modal" data-target="#new_subject{{user.id}}"
          style="background-color: rgb(29, 214, 22);" value="+ Sub">
      </td>
    </tr>
    <div class="modal fade" id="new_subject{{user.id}}" style="color: #01272e;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add New subject</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">

            <input value="User ID : {{ user.id }}, Name : Mr/Miss/Mrs. {{ user.first_name }} {{ user.last_name }}"
              class="form-control" disabled><br>
            <form action="add-subject" method="POST">
              {% csrf_token %}
              <input name="login_id" value="{{ user.id }}" style="display: none;" required>
              <select class="form-control" name="department" required>
                {% if department %}
                <option value='{{department}}'>{{department}}</option>
                {% else %}
                <option value=''>Select Department</option>
                {% endif %}
                <option value='CSE'>CSE</option>
                <option value='ECE'>ECE</option>
                <option value='EEE'>EEE</option>
                <option value='CIVIL'>CIVIL</option>
                <option value='MECH'>MECH</option>
                <option value='BIO - MEDICAL'>BIO - MEDICAL</option>
                <option value='CHEMICAL'>CHEMICAL</option>
                <option value='OTHERS'>OTHERS</option>
              </select><br>

              <input type="text" name="allotted_subject_code" value="{{allotted_subject_code}}"
                placeholder="Subject Code" class="form-control" required><br>
              <input type="text" name="allotted_subject_name" value="{{allotted_subject_name}}"
                placeholder="Subject Name" class="form-control" required><br>

              <select class="form-control" name="year" required>
                {% if year %}
                <option value='{{year}}'>{{year}}</option>
                {% else %}
                <option value=''>Select Year</option>
                {% endif %}
                <option value=1>1st - Year</option>
                <option value=2>2nd - Year</option>
                <option value=3>3rd - Year</option>
                <option value=4>4th - Year</option>
              </select><br>

              <select class="form-control" name="section" required>
                {% if section %}
                <option value='{{section}}'>{{section}}</option>
                {% else %}
                <option value=''>Select Section</option>
                {% endif %}
                <option value="A">'A' - Section</option>
                <option value="B">'B' - Section</option>
                <option value="C">'C' - Section</option>
              </select>
          </div>
          <div class="modal-footer">
            <button style="margin-left:0;" type="submit" name="new_subject" class="btn btn-success">SUBMIT</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {%endfor%}
  </table>

</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}