{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - All Questions</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'list_questions' %}">Questions List</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <div id="admin-top-buttons" style="left: 0; margin: 10px 20%;">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Subject Code" value="Subject Code : {{subject_code}}"
        style="background-color: rgb(0, 67, 71); color: white; text-align: center;" disabled>
      <input type="text" class="form-control" placeholder="Subject Code" value="Total Questions : {{total}}"
        style="width: auto;background-color: transparent;text-align: center; border-color: rgb(0, 67, 71); color: rgb(0, 67, 71);; margin-left: -30%; margin-top: -4.5%;"
        disabled>
    </div>
  </div>
  {% if not questions %}
  <br><br><br><br>
  <h5 style="text-align: center;"><strong>Your Cart is Empty...</strong></h5>
  {% else %}
  <table class="tftable" border="1">
    <tr>
      <th>Q_ID</th>
      <th>Text Qus</th>
      <th>Img Qus</th>
      <th>Options</th>
      <th>Answer</th>
      <th>subject_code</th>
      <th>Action</th>
    </tr>
    {% for question in questions %}
    <tr>
      <td style="text-align: center;">{{ question.id }}</td>
      <td>{{ question.question_text }}</td>
      {% if not question.question_image %}
      <td style="text-align: center;">NA</td>
      {%else%}
      <td style="text-align: center; width: 150px;"><a target="_blank" href="{{ question.question_image.url }}"><img
            style="width: 50%;" src="{{ question.question_image.url }}" alt="{{question.question_image}}"></a></td>
      {%endif%}
      <td>
        {% for d in question.choices %}
        <p>{{d}}</p>
        {%endfor%}
      </td>
      <td style="text-align: center; width: 30px;">
        <h6><b>{{question.answer}}</b>
          <form>
            <input type="number" name="update_answer_id" value="{{ question.id }}" style="display: none;">
            <input type="text" class="form-control" name="update_answer" placeholder="NewAns"
              style="width:85px; text-align: center; position: relative; top: 38px;" required>
            <br><br>
            <input type="submit" class="btn btn-warning" value="Change">
          </form>
        </h6>
      </td>
      <td>{{ question.subject_code }}</td>
      <td style="width: 50px;">
        <form>
          <input type="number" name="remove_cart_item_id" value="{{ question.id }}" style="display: none;">
          <input type="submit" class="btn btn-danger" value="Remove">
        </form>
      </td>
    </tr>

    {%endfor%}
  </table>
  {% endif %}
  {% if questions %}
  <a href="confirmation" target="_blank"><button class="btn btn-primary"
      style="float: right; margin: 20px;"><b>Generate</button></a>

  <div class="modal fade" id="confirm_modal" style="color: #01272e;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">GENERATE QUESTION PAPER</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p style="text-align: center;">Yes verified, All the questions & Answers are correct</p>
          <form action="generate-question-paper" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" name="test_key" placeholder="Assessment or Test Key" required><br>
            <button type="submit" target="_blank" class="btn btn-success" name="generate_question_paper" value="True"
              style="width: 100%;"><b>Yes, Generate</b> Question Paper</button>
            <br>
          </form>
          <br>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  {% endif %}
</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}