{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 0;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>
  <div class="container" id="final" style="top: 150px; width: 500px;">
    <div>
      <h4>GENERATE QUESTION PAPER</h4>
    </div>
    <div>
      <p style="text-align: center;">Yes verified, All the questions & Answers are correct</p>
      <form action="confirmation" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="test_key" value="{{key}}"
          style="border-color: rgb(0, 72, 100);text-align: center;" placeholder="Enter Key" required><br>
        <button type="submit" target="_blank" class="btn btn-success" name="generate_question_paper" value="True"
          style="width: 100%;"><b>Yes, Generate</b> Question Paper</button>
        <br>
      </form>
      <br>
    </div>
  </div>
</body>

</html>

{% endblock %}