{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - Faculty Page</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'select_question_paper' %}">Question Paper</a>
        <a href="{% url 'get_my_assessments' %}">My Assessments</a>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <div id="divide">
    <h6 style="font-weight: bold;color: white;">CREATE NEW ASSESSMENT</h6>
    <div class="container">

      <form method="POST" action="assessment" class="needs-validation" novalidate>
        {%csrf_token%}
        <input name="title" placeholder="Assessment Title" class="form-control" required>
        <input type="number" name="total_questions" placeholder="Number of Questions" class="form-control" required>
        <input type="number" name="duration_in_minutes" placeholder="Time duration in minutes" class="form-control"
          required>
        <input type="number" name="total_marks" placeholder="Total Marks" class="form-control" required>
        <input type="number" name="pass_mark" placeholder="Pass Mark" class="form-control" required>
        <label
          style="display: inline; color: white; text-align: center; position: relative; top: 10px; left: 35%;">Assessment
          date & Start time</label>
        <br><input type="date" name="assessment_date" class="form-control" required>
        <input type="time" name="start_time" class="form-control" required>

        <div id="show_result" class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" style="position: relative;" id="customCheck"
            name="display_result">
          <label class="custom-control-label" for="customCheck" style="cursor: pointer;font-weight: normal;">Yes, Show
            the Result to the student</label>
        </div>
        <input type="submit" value="CREATE" name="create_assessment" class="btn btn-success">
      </form>

    </div>
    <br><br>
  </div>

</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}