{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - Admin Page</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'admin' %}">Faculty List</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <table class="tftable" border="1">
    <tr>
      <th>Login_id</th>
      <th>Department</th>
      <th>Subject Code</th>
      <th>Subject Name</th>
      <th>Year</th>
      <th>Section</th>
      <th>Actions</th>
    </tr>
    {% for data in faculty_detail %}
    <tr style="text-align: center;">
      <td>{{ data.login_id }}</td>
      <td>{{ data.allotted_department }}</td>
      <td>{{ data.allotted_subject_code }}</td>
      <td>{{ data.allotted_subject_name }}</td>
      <td>{{ data.year }}</td>
      <td>{{ data.section }}</td>
      <td>
        <form action="delete-faculty-details">
          <input type="button" style="background-color: rgb(255, 191, 73);" value="Update" data-toggle="modal"
            data-target="#update_user{{data.id}}">
          <input type="number" name="delete_faculty_id" value="{{ data.id }}" style="display: none;">
          <input type="number" name="login_id" value="{{ data.login_id }}" style="display: none;">
          <input type="submit" style="background-color: rgb(252, 62, 62);" value="Delete">
        </form>
      </td>
    </tr>
    <div class="modal fade" id="update_user{{data.id}}" style="color: #01272e;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Faculty Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">

            <form action="update-faculty-details" method="POST">
              {% csrf_token %}
              <input type="number" name="id" value="{{ data.id }}" style="display: none;">
              <input type="number" name="login_id" value="{{ data.login_id }}" style="display: none;">
              <label>Department</label>
              <select name="department" id="department" class="form-control">
                <option value="{{ data.allotted_department }}">{{ data.allotted_department }}</option>
                <option value="Computer Science & Engineering">Computer Science & Engineering</option>
                <option value="Electrical & Computer Engineering">Electrical & Communication Engineering</option>
                <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Biomedical Engineering">Biomedical Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Other">Other</option>
              </select>
              <label>Subject Code</label>
              <input type="text" name="subject_code" value="{{ data.allotted_subject_code }}" class="form-control">
              <label>Subject Name</label>
              <input type="text" name="subject_name" value="{{ data.allotted_subject_name }}" class="form-control">
              <label>Year</label>
              <select class="form-control" name="year">
                <option value='{{ data.year }}'>{{ data.year }}</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
              </select>
              <label>Section</label>
              <select class="form-control" name="section">
                <option value='{{ data.section }}'>{{ data.section }}</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
          </div>
          <div class="modal-footer">
            <button style="margin-left:0;" type="submit" name="new_user" class="btn btn-success">UPDATE</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </table>
</body>

</html>
{% endblock %}