{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 0;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <div class="container" id="final">
    <h3><strong>New Assessment Created Successfully</strong></h3>
    <br>
    <h4>Test Key : <strong>{{assessment.assessment_key}}</strong></h4>
    <table>
      <tr>
        <td>
          <h5>Assessment Key</h5>
        </td>
        <td>
          <h5><b>{{ assessment.assessment_key }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Assessment Title</h5>
        </td>
        <td>
          <h5><b>{{ assessment.assessment_title }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Time Duration</h5>
        </td>
        <td>
          <h5><b>{{ assessment.duration_in_minutes }} Min's</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Date</h5>
        </td>
        <td>
          <h5><b>{{ assessment.date }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Start Time</h5>
        </td>
        <td>
          <h5><b>{{ assessment.start_time }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>End Time</h5>
        </td>
        <td>
          <h5><b>{{ assessment.end_time }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Total allowed attemts</h5>
        </td>
        <td>
          <h5><b>{{ assessment.remaining_attemts }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Total Questions</h5>
        </td>
        <td>
          <h5><b>{{ assessment.total_questions }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Total Marks</h5>
        </td>
        <td>
          <h5><b>{{ assessment.total_marks }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Pass Mark</h5>
        </td>
        <td>
          <h5><b>{{ assessment.pass_mark }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Created At</h5>
        </td>
        <td>
          <h5><b>{{ assessment.updated_at }}</b></h5>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Show Result</h5>
        </td>
        <td>
          <h5><b>{{ assessment.display_result }}</b></h5>
        </td>
      </tr>
    </table>
    <br>
    <a href="javascript:window.open('','_self').close();" class="btn btn-success" style="float: right;">close</a>
    <br>
  </div>
</body>

</html>

{% endblock %}