{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Instructions - KPR online Assessment & Test Portal</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<noscript>
  <style type="text/css">
    #body {
      display: none;
      background-color: red;
    }
    .noscriptmsg{
      margin-top: 10%;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(255, 83, 83);
      border: 2px solid red;
      padding: 20px;
    }
    .noscriptmsg h1{
      color: rgb(255, 0, 0);
      text-align: center;
    }
  </style>
  <div class="noscriptmsg container">
    <h1>Your browser does not enable Java Script..!<br>Please enable Java Script to Continue...</h1>
  </div>
</noscript>

<body>
  <div id="body">

    <nav class="navbar  navbar-expand-md">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
      <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal</h5>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 0;">
      <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <script>
      window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
          $(this).remove();
        });
      }, 3000);
    </script>

    {% if not assessment %}
    <div class="container" id="final">
      <h4><strong>Welcome to KPR Institutions Online Assessment & Test Portal</strong></h4>
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <input type="text" name="test_key" value="{{ test_key }}" style="display: none;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" name="full_name" value="{{ full_name }}" placeholder="Enter Your Name" class="form-control"
            required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="email" name="email" value="{{ email }}" placeholder="Enter Your College Email"
            class="form-control" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Reg No</span>
          </div>
          <input type="number" name="register_number" value="{{ register_number }}"
            placeholder="Enter Your Register Number" class="form-control" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Details</span>
          </div>
          <select class="form-control" name="department" required>
            {% if department %}
            <option value="{{ department }}">Department : {{ department }}</option>
            {% else %}
            <option value=''>Dept</option>
            {% endif %}
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="CIVIL">CIVIL</option>
            <option value="MECH">MECH</option>
            <option value="BIO - MEDICAL">BIO - MEDICAL</option>
            <option value="CHEMICAL">CHEMICAL</option>
            <option value="OTHERS">OTHERS</option>
          </select>

          <select class="form-control" name="year" required>
            {% if year %}
            <option value="{{ year }}">Year : {{ year }}</option>
            {% else %}
            <option value=''>Year</option>
            {% endif %}
            <option value=1>1st - Year</option>
            <option value=2>2nd - Year</option>
            <option value=3>3rd - Year</option>
            <option value=4>4th - Year</option>
          </select>

          <select class="form-control" name="section" required>
            {% if section %}
            <option value="{{ section }}">Section : {{ section }}</option>
            {% else %}
            <option value=''>Sec</option>
            {% endif %}
            <option value="A">'A' - Section</option>
            <option value="B">'B' - Section</option>
            <option value="C">'C' - Section</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" name="student_details" id="submit-go">Submit & Go</button>
      </form>
    </div>
    {% endif %}

    {% if assessment %}
    <div class="container" id="final">
      <h4><strong>My Test</strong></h4>
      <br>
      <h4><i class="fa fa-key icon"></i> <strong>{{assessment.assessment_key}}</strong></h4>
      <table>
        <tr>
          <td>
            <h6>Assessment Title</h6>
          </td>
          <td>
            <h6><b>{{ assessment.assessment_title }}</b></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Time Duration</h6>
          </td>
          <td>
            <h6><b>{{ assessment.duration_in_minutes }} Min's</b></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Start Time</h6>
          </td>
          <td>
            <h6><b>{{ assessment.start_time }}</b></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6>End Time</h6>
          </td>
          <td>
            <h6><b>{{ assessment.end_time }}</b></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Total Questions</h6>
          </td>
          <td>
            <h6><b>{{ assessment.total_questions }}</b></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Total Marks</h6>
          </td>
          <td>
            <h6><b>{{ assessment.total_marks }}</b></h6>
          </td>
        </tr>
      </table>
      <br>
      <a href="#" class="btn btn-success" data-toggle="modal" data-target="#ready" id="take-test">TAKE TEST</a>
      <div class="modal fade" id="ready" style="color: #01272e;">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Test Instructions <b style="color: red;">*</b></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <ol>
                <li>Do not switch over the TAB. If try to do, Your assessment will closed immeditly <b>
                    <h6>*</h6>
                  </b></li>
                <li>Do not copy and paste. If try to do, Your assessment will closed immeditly <b>
                    <h6>*</h6>
                  </b></li>
                <li>Submit the test before the end of the countdown <b>
                    <h6>*</h6>
                  </b></li>
                <li>Delayed submission is prohibited <b>
                    <h6>*</h6>
                  </b></li>
              </ol>
            </div>
            <div class="modal-footer">
              <a href="test?student_test_id={{student_id}}&key={{assessment.assessment_key}}" target="_blank"><button
                  style="margin-left:0;" type="submit" name="new_user" class="btn btn-success">Yes, GO
                  <i class="fa fa-plane icon"></i></button></a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    {% endif %}
  </div>
</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>

{% endblock %}