{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - My Assessments</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'faculty' %}">New Assessment</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <table class="tftable" border="1">
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
    {% for data in my_assessment_details %}
    <tr style="text-align: center;">
      <td>{{ data.assessment_key }}</td>
      <td>{{ data.assessment_title }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.start_time }}</td>
      <td>{{ data.end_time }}</td>
      <td>{{ data.display_result }}</td>
      <td>{{ data.updated_at }}</td>
      <td style="width: 180px;">
        <form action="delete-assessment" style="display: flex; float: right;">
          <input type="number" name="delete_assessment_id" value="{{ data.id }}" style="display: none;">
          <input type="submit" style="background-color: rgb(252, 62, 62);" value="Delete">
        </form>
        <form action="result" style="display: flex; float: right;">
          <input type="text" name="key" value="{{ data.assessment_key }}" style="display: none;">
          <input type="submit" style="background-color: rgb(30, 168, 64);" value="Result">
        </form>
        <input type="button" data-toggle="modal" data-target="#assessment_details{{ data.id }}"
          style="background-color: rgb(38, 96, 255);" value="Details">
      </td>
    </tr>
    <div class="modal fade" id="assessment_details{{ data.id }}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Assessment Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h6><b>Key : </b> {{ data.assessment_key }}</h6>
            <h6><b>Title : </b> {{ data.assessment_title }}</h6>
            <h6><b>Duration : </b> {{ data.duration_in_minutes }} Min's</h6>
            <h6><b>Display Result : </b> {{ data.display_result }}</h6>
            <h6><b>Date : </b> {{ data.date }}</h6>
            <h6><b>Start Time : </b> {{ data.start_time }}</h6>
            <h6><b>End Time : </b> {{ data.end_time }}</h6>
            <h6><b>Total Questions : </b> {{ data.total_questions }}</h6>
            <h6><b>Total Marks : </b> {{ data.total_marks }}</h6>
            <h6><b>Pass Mark : </b> {{ data.pass_mark }}</h6>
            <h6><b>Max Attemts : </b> {{ data.remaining_attemts }}</h6>
            <h6><b>Questions : </b> {{ data.questions }}</h6>
            <h6><b>Total Students Attended : </b> {{ data.total_students_attended }}</h6>
            <h6><b>Total Submit Success : </b> {{ data.total_submit_success }}</h6>
            <h6><b>Total Submit Failure : </b> {{ data.total_submit_failure }}</h6>
            <h6><b>Init At : </b> {{ data.created_at }}</h6>
            <h6><b>Completed At : </b> {{ data.updated_at }}</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {%endfor%}
  </table>
</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}