{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - All Questions</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'create_new_question' %}">Add New Question</a>
        <a href="{% url 'get_cart' %}">Cart <sup>{{cart_total}}</sup></a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <div id="admin-top-buttons">
    <form method="GET">
      <div class="form-group">
        <select class="form-control" name="subject_code" style="width: 320px;" required>
          {% if subject_code %}
          <option value="{{ subject_code }}">{{ subject_code }}</option>
          {%else%}
          <option value=''>Select Subject</option>
          {%endif%}
          {% for d in subjects %}
          <option value="{{ d }}">{{ d }}</option>
          {% endfor %}
        </select>
        <button type="submit">Get</button>
      </div>
    </form>
  </div>
  <br><br>
  {% if not questions %}
  <br><br><br><br>
  <h5 style="text-align: center;"><strong>No Data for selected Subject or No subject is selected</strong></h5>
  {% else %}
  <div class="pagination" style="margin: 10px 0 10px 45.5%;">
    <span class="step-links">
      {% if questions.has_previous %}
      <a href="?subject_code={{subject_code}}&page={{ questions.previous_page_number }}"><input type="button"
          value="Previous"></a>
      {% endif %}

      <span class="current">
        Page {{ questions.number }} of {{ questions.paginator.num_pages }}
      </span>

      {% if questions.has_next %}
      <a href="?subject_code={{subject_code}}&page={{ questions.next_page_number }}"><input type="button"
          value="Next"></a>
      {% endif %}
    </span>
  </div>
  <table class="tftable" border="1">
    <tr>
      <th>Q_ID</th>
      <th>Text Qus</th>
      <th>Img Qus</th>
      <th>Options</th>
      <th>Answer</th>
      <th>subject_code</th>
      <th>Action</th>
    </tr>
    {% for question in questions %}
    <tr>
      <td style="text-align: center;">{{ question.id }}</td>
      <td>{{ question.question_text }}</td>
      {% if not question.question_image %}
      <td style="text-align: center;">NA</td>
      {%else%}
      <td style="text-align: center; width: 150px;"><a target="_blank" href="{{ question.question_image.url }}"><img
            style="width: 50%;" src="{{ question.question_image.url }}" alt="{{question.question_image}}"></a></td>
      {%endif%}
      <td>
        {% for d in question.choices %}
        <p>{{d}}</p>
        {%endfor%}
      </td>
      <td style="text-align: center;">
        <h6><b>{{question.answer}}</b></h6>
      </td>
      <td>{{ question.subject_code }}</td>
      <td style="width: 50px;">
        <form>
          <input type="number" name="add_cart" value="{{ question.id }}" style="display: none;">
          <input type="submit" class="btn btn-success" value="Add Cart">
        </form><br>
        <form>
          <input type="number" name="delete_question_id" value="{{ question.id }}" style="display: none;">
          <input type="submit" class="btn btn-danger" value="&nbsp;&nbsp;Delete&nbsp;&nbsp;">
        </form>
      </td>
    </tr>

    {%endfor%}
  </table>
  {% endif %}

</body>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}