{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR online Assessment & Test Portal - ADMIN</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Online Assessment & Test Portal - Faculty Page</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'list_questions' %}">Questions List</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <div id="divide">
    <h6 style="font-weight: bold;">ADD NEW QUESTION</h6>
    <div class="container">
      <form method="POST" action="create-question" enctype="multipart/form-data" class="needs-validation" novalidate>
        {%csrf_token%}
        <select class="form-control" name="subject_code" required>
          {% if subject_code %}
          <option value="{{ subject_code }}">{{ subject_code }}</option>
          {% else %}
          <option value=''>Select Subject</option>
          {% endif %}
          {% for d in subjects %}
          <option value="{{ d }}">{{ d }}</option>
          {% endfor %}
        </select>
        <label for="question" style="color: white;"><b>&nbsp;Question</b></label>
        <textarea class="form-control" rows="3" cols="50" id="question" placeholder="Enter Question"
          name="question_text">{{question_text}}</textarea>
        <br>
        <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Question</div>
            <div class="file-select-name" id="noFile">Select image, If the QUESTION is an image</div>
            <input type="file" value="{{form.photo}}" name="question_image" id="chooseFile">
          </div>
        </div>

        <label style="color: white; display: inline;">Choices</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">A</span>
          </div>
          <input name="a" value="{{a}}" placeholder="Option A" class="form-control" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">B</span>
          </div>
          <input name="b" value="{{b}}" placeholder="Option B" class="form-control" required>
        </div>

        <label style="color: white; display: inline;">Optional Choices</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">C</span>
          </div>
          <input name="c" value="{{c}}" placeholder="Option C" class="form-control">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">D</span>
          </div>
          <input name="d" value="{{d}}" placeholder="Option D" class="form-control">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">E</span>
          </div>
          <input name="e" value="{{e}}" placeholder="Option E" class="form-control">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" style="height: 38px; margin-top: 10px; background-color: skyblue">F</span>
          </div>
          <input name="f" value="{{f}}" placeholder="Option F" class="form-control">
        </div>

        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              style="height: 38px; margin-top: 10px; background-color: rgb(78, 240, 86);">Answer</span>
          </div>
          <input name="answer" value="{{answer}}" min="A" max="F" style="border: 3px solid rgb(78, 240, 86);"
            placeholder="If answer choice is more then one, Separate the answer by Comma ( ' , ' )" class="form-control"
            required>
        </div>
        <br>
        <button type="submit" name="create" class="btn btn-success">SAVE</button>
      </form>
    </div>
    <br><br>
  </div>

</body>

<script>
  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });
</script>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>



{% endblock %}