{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Result - ID {{ assessment.assessment_key }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - Test Result for Assessment ID - {{ assessment.assessment_key }}</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'get_my_assessments' %}">My Assessments</a>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <table border="2" style="width: 80%; margin: 5px 10%; text-align: center; color: rgb(94, 94, 94);">
    <th>Total Students : {{ assessment.total_students_attended }}</th>
    <th>Maximum Mark : {{ assessment.total_marks }}</th>
    <th>Pass Mark : {{ assessment.pass_mark }}</th>
    <th>No of Pass : {{ assessment.no_of_pass }}</th>
    <th>No of Fail : {{ assessment.no_of_fail }}</th>
    <th>
      <form method="POST">{% csrf_token %}<button name="excel" title="Download the Reslut as a Excel Sheet"
          class="btn btn-info">Download as Excel</button></form>
    </th>

</html>
</table>
<div class="container" style="margin-top: 20px; margin-bottom: 20px; ">
  <input class="form-control" id="search" type="text" placeholder="Search..." style="border: 2px solid rgb(0, 61, 85);">
</div>
<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#resultTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
<table class="tftable" border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Role No</th>
    <th>Reg No</th>
    <th>Dept</th>
    <th>year</th>
    <th>Sec</th>
    <th>Score</th>
    <th>Action</th>
  </tr>
  <tbody id="resultTable">
    {% for data in result %}
    {% if data.is_pass %}
    <tr style="text-align: center; background-color: rgb(111, 228, 120);">
      {% else %}
    <tr style="text-align: center; background-color: rgb(252, 124, 124);">
      {% endif %}
      <td>{{ data.id }}</td>
      <td>{{ data.full_name }}</td>
      <td>{{ data.role_number }}</td>
      <td>{{ data.register_number }}</td>
      <td>{{ data.department }}</td>
      <td>{{ data.year }}</td>
      <td>{{ data.section }}</td>
      <td>{{ data.score }}</td>
      <td>
        <form action="chance">
          <input type="text" name="key" value="{{assessment.assessment_key}}" style="display: none;">
          <button type="submit" name="second_chance" value="{{data.id}}">Reset</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</body>

{% endblock %}