{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Taking Assessment or Test</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>
<noscript>
  <style type="text/css">
    #body {
      display: none;
      background-color: red;
    }

    .noscriptmsg {
      margin-top: 10%;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(255, 83, 83);
      border: 2px solid red;
      padding: 20px;
    }

    .noscriptmsg h1 {
      color: rgb(255, 0, 0);
      text-align: center;
    }
  </style>
  <div class="noscriptmsg container">
    <h1>Your browser does not enable Java Script..!<br>Please enable Java Script to Continue...</h1>
  </div>
</noscript>

<body>
  <div id="body">
    <nav class="navbar  navbar-expand-md">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
      <h5 id="title">{{ title }}</h5>
      <button class="form-control"
        style="text-align: center;width: auto; margin: auto; background-color: rgb(0, 55, 77); color: white;" disabled>
        <b><i class="fa fa-user icon"></i> {{ full_name }}</b></button>
      <button class="btn" id="countDown" disabled>Count Down</button>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 80px;">
      <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <script>
      window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
          $(this).remove();
        });
      }, 3000);
    </script>

    <h5 id="title1">{{ title }}</h5>
    <div id="test-container" class="">
      <form action="submit-test" method="POST" id="sumitTest">
        {% csrf_token %}
        {% for question in questions %}
        <h5>{{ question.no }}. {{ question.question_text }}</h5>
        {% if question.question_image %}
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question <b style="color: blue;">#
            {{ question.no }}</b> - Image </h6>
        <img id="profile-picture" src="{{ question.question_image.url }}" alt="{{ question.question_image }}"
          style="width: 100%;"><br>
        {% endif %}
        <div id="options">
          <div id="single">
            {% if question.type == 'single' %}
            {% for d in question.choices %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" value="{{d.increment}}"
              style="cursor: pointer;" name="{{ question.id }}">
            <label>{{d.choice}}</label><br>
            {% endfor %}
          </div>
          {% endif %}
          <div id="multiple">
            {% if question.type == 'multiple' %}
            {% for d in question.choices %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="{{d.increment}}"
              style="cursor: pointer;" name="{{ question.id }}">
            <label>{{d.choice}}</label><br>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        {% endfor %}
        <input type="student_id" name="student_id" value="{{ student_id }}" style="display: none;">
        <input type="student_id" name="assessment_key" value="{{ key }}" style="display: none;">
        <br><button type="submit" class="btn btn-success" class="btn btn-primary" style="width: 100%;">SUBMIT
          TEST</button>
      </form>
    </div>

    <p id="switchTabController"></p>
  </div>
</body>
<script>
  var a = 3
  function pause() {
    a--;
    if (a == 1) alert("\n\nLast chance \n\nDont switch tab and Dont press unwanted keyboard keys");
    else if (a > 1) alert("\n\nRemaining Chances : " + a + " \n\nDont switch tab and Dont press unwanted keyboard keys\n");
    else if (a == 0) document.getElementById("sumitTest").submit();
  }
  const switchTabController = document.getElementById('switchTabController');
  window.addEventListener('blur', pause);
</script>
<script>
  $(document).keydown(function (e) {
    if (e.keyCode == 27) return false;
  });
</script>


<script>
  var countDownDate = new Date("{{date}} {{ count_down_time }}").getTime();
  var x = setInterval(function () {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    if (hours < 10) hours = "0" + hours
    if (minutes < 10) minutes = "0" + minutes
    if (seconds < 10) seconds = "0" + seconds
    document.getElementById("countDown").innerHTML = hours + " : " + minutes + " : " + seconds;
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("sumitTest").submit();
    }
  }, 1000);
</script>

</html>
{% endblock %}