{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPRIET - Thank You {{ full_name }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This application is help to make online assessment and test" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 0;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 4000);
  </script>
  {% if result and score %}
  <div class="container" id="pass">
    {% elif not result and score %}
    <div class="container" id="fail">
      {% else %}
      <div class="container" id="no-result">
        {% endif %}

        <h3><strong>Thank You {{ full_name }}</strong></h3>
        <h4><strong>Your Assessment or Test is successfully saved</strong></h4>
        <br>
        {% if score %}
        <h2 id="score">Score : <strong>{{ score }} / {{ total }}</strong></h2>
        {% if result %}
        <br>
        <h3>PASS..! Congratulations {{ full_name }}</h3>
        {% else %}
        <br>
        <h3>FAIL..! Sorry, Better luck next time</h3>
        {% endif %}
        {% endif %}
        <br>
        <a href="javascript:window.open('','_self').close();" class="btn btn-primary">close</a>
        <br>
      </div>
</body>

</html>

{% endblock %}