@media only screen and (max-width: 321px) {
  #countDown{
    left: 74%; 
    font-size: .7rem;
  }
    #heading {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: .8rem;
      position: absolute;
      width: 200px;
      margin-left: 70px;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 90%;
      height: 240px;
      margin-left: 5%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 100px;
      margin: auto;
      position: relative;
      top: -140px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 100px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 100px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
      color: rgb(122, 122, 122);
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 112px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 80px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 120px;
      left: 32%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 5px;
    }
    #final h4 {
      font-size: 1rem;
    }
    .input-group-text {
      background-color: skyblue;
      width: 68px;
    }
    #submit-go {
      margin-left: 30%;
    }
    #take-test {
      margin-left: 30%;
    }
    #title {
      display: none;
    }
    #title1 {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: 1rem;
      text-align: center;
    }
    #pass #score,
    #fail #score {
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 376px) {
    #countDown{
      left: 74%; 
      font-size: .8rem;
    }
    #heading {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: .8rem;
      position: absolute;
      width: 200px;
      margin-left: 70px;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 90%;
      height: 240px;
      margin-left: 5%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 100px;
      margin: auto;
      position: relative;
      top: -140px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 100px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 100px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
      color: rgb(122, 122, 122);
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 112px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 80px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 120px;
      left: 32%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 5px;
    }
    #final h4 {
      font-size: 1rem;
    }
    .input-group-text {
      background-color: skyblue;
      width: 68px;
    }
    #submit-go {
      margin-left: 35%;
    }
    #take-test {
      margin-left: 35%;
    }
    #title {
      display: none;
    }
    #title1 {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: 1rem;
      text-align: center;
    }
    #pass #score,
    #fail #score {
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 376px) and (max-width: 426px) {
    #countDown{
      left: 74%; 
    }
    #heading {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: .8rem;
      position: absolute;
      width: 200px;
      margin-left: 70px;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 90%;
      height: 240px;
      margin-left: 5%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 100px;
      margin: auto;
      position: relative;
      top: -140px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 100px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 100px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
      color: rgb(122, 122, 122);
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 112px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 80px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 120px;
      left: 32%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 5px;
    }
    #final h4 {
      font-size: 1rem;
    }
    .input-group-text {
      background-color: skyblue;
      width: 68px;
    }
    #submit-go {
      margin-left: 37%;
    }
    #take-test {
      margin-left: 36%;
    }
    #title {
      display: none;
    }
    #title1 {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: 1rem;
      text-align: center;
    }
    #pass #score,
    #fail #score {
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 427px) and (max-width: 769px) {
    #countDown{
      left: 84%; 
    }
    #heading {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: .8rem;
      position: absolute;
      width: 200px;
      margin-left: 70px;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 50%;
      height: 240px;
      margin-left: 25%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 100px;
      margin: auto;
      position: relative;
      top: -140px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 100px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 100px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
      color: rgb(122, 122, 122);
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 112px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 80px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 120px;
      left: 37%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 50px;
    }
    #final h4 {
      font-size: 1rem;
    }
    .input-group-text {
      background-color: skyblue;
      width: 78px;
    }
    #submit-go {
      margin-left: 42%;
    }
    #take-test {
      margin-left: 41%;
    }
    #title {
      display: none;
    }
    #title1 {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: 1rem;
      text-align: center;
    }
    #pass #score,
    #fail #score {
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1025px) {
    #countDown{
      left: 85%; 
    }
    #heading {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: .8rem;
      position: absolute;
      width: 200px;
      margin-left: 70px;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 40%;
      height: 240px;
      margin-left: 30%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 100px;
      margin: auto;
      position: relative;
      top: -140px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 100px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 100px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
      color: rgb(122, 122, 122);
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 112px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 80px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 120px;
      left: 37%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 50px;
    }
    #final h4 {
      font-size: 1rem;
    }
    .input-group-text {
      background-color: skyblue;
      width: 78px;
    }
    #submit-go {
      margin-left: 43%;
    }
    #take-test {
      margin-left: 43.5%;
    }
    #title {
      display: none;
    }
    #title1 {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
      font-size: 1rem;
      text-align: center;
    }
    #pass #score,
    #fail #score {
      width: 90%;
      margin-left: 5%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 1026px) and (max-width: 1441px) {
    #countDown{
      left: 90%; 
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 30%;
      height: 300px;
      margin-left: 35%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 150px;
      margin: auto;
      position: relative;
      top: -150px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 150px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 150px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 162px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 130px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 170px;
      left: 38%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 40px;
    }
    .input-group-text {
      background-color: skyblue;
      width: 140px;
    }
    #submit-go {
      margin-left: 45%;
    }
    #final td {
      width: 40%;
      padding: 2px 20px;
    }
    #final table,
    #final th,
    #final td {
      border: 1px solid rgb(0, 54, 75);
      width: 80%;
    }
    #take-test {
      margin-left: 45%;
    }
    #title {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
    }
    #title1 {
      display: none;
    }
    #pass #score,
    #fail #score {
      width: 40%;
      margin-left: 30%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  @media only screen and (min-width: 1441px) {
    #countDown{
      text-align: center; 
      position: fixed;
      left: 90%; 
      color: white;
    }
    .center {
      box-shadow: 0 0 10px 5px rgb(128, 128, 128);
      width: 30%;
      height: 300px;
      margin-left: 35%;
      margin-top: 100px;
      border-radius: 10px;
    }
    .center1 {
      box-shadow: 0 0 10px 0 rgb(85, 85, 85);
      background-color: rgb(28, 183, 255);
      width: 80%;
      height: 150px;
      margin: auto;
      position: relative;
      top: -150px;
      border-radius: 3px;
    }
    .center1 h5 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      position: relative;
      top: 40%;
    }
    .main .main-input input {
      width: 80%;
      padding: 10px 0;
      font-size: 1.2rem;
      color: rgb(63, 63, 63);
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 150px;
      left: 15px;
      border: none;
      padding-left: 60px;
      border-bottom: 4px solid rgb(151, 151, 151);
      outline: none;
    }
    .main-input .fa {
      position: relative;
      top: 150px;
      left: 60px;
      z-index: 1;
      font-weight: bolder;
      font-size: 1.5rem;
    }
    .main .main-input label {
      position: absolute;
      left: 90px;
      top: 162px;
      font-size: 1.2rem;
      color: rgb(77, 77, 77);
      pointer-events: none;
      transition: .5s;
      font-weight: bold;
    }
    .main .main-input input:focus~label,
    .main .main-input input:valid~label {
      top: 130px;
      left: 40px;
      color: rgb(28, 183, 255);
      font-size: 1.2rem;
    }
    .submit {
      border: none;
      outline: none;
      color: #fff;
      background: #03a9f4;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 50px;
      display: block;
      position: relative;
      top: 170px;
      left: 38%;
      font-weight: bold;
    }
    #final {
      border: 2px solid rgb(0, 55, 77);
      position: relative;
      top: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgb(73, 72, 72);
      padding: 20px 40px;
    }
    .input-group-text {
      background-color: skyblue;
      width: 140px;
    }
    #submit-go {
      margin-left: 45%;
    }
    #final td {
      width: 40%;
      padding: 2px 20px;
    }
    #final table,
    #final th,
    #final td {
      border: 1px solid rgb(0, 54, 75);
      width: 80%;
    }
    #take-test {
      margin-left: 45%;
    }
    #title {
      font-weight: bold;
      color: #2b4d8e;
      padding-top: 9px;
    }
    #title1 {
      display: none;
    }
    #pass #score,
    #fail #score {
      width: 40%;
      margin-left: 30%;
      padding: 10px 0;
      border-radius: 5px;
    }
  }

  /* -------------------------------------------------------------- *** Resposive layout ENDS *** ---------------------------------------------------------------------- */
  * {
    font-family: 'Lato', 'Oxygen', sans-serif;
  }
  .login-center {
    background-color: white;
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    padding-top: 10px;
  }
  .login-left {
    position: static;
    float: left;
    width: 35%;
    height: 402px;
    margin: -10px 0 0 -5px;
    border-radius: 20px 0 0 20px;
    background-color: #0be77d;
  }
  .login-left img {
    position: relative;
    width: 90%;
    top: 90px;
    left: 12px;
  }
  .login-right img {
    display: none;
  }
  .login-right h1 {
    color: #0be77d;
    text-align: center;
    padding: 15px 0;
  }
  .login-right input {
    position: relative;
    display: block;
    align-items: center;
    width: 370px;
    height: 40px;
    left: 40px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    border-bottom-color: rgb(185, 185, 185);
    font-weight: bold;
    color: rgb(97, 96, 96);
  }
  .login-right label {
    position: relative;
    top: -30px;
    left: 50px;
    font-weight: bold;
    color: rgba(122, 122, 122, 0.863);
    pointer-events: none;
    transition: .5s;
  }
  .login-right input:focus~label,
  .login-right input:not(:placeholder-shown)~label {
    top: -60px;
  }
  .login-right input:focus,
  .login-right input:valid {
    border-bottom: solid #0be77d;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  .login input[type="submit"],
  #login-a a {
    position: relative;
    top: 30px;
    left: 100px;
    outline: none;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    border: solid #0be77d;
    transition: .5s;
  }
  .login input[type="submit"]:hover,
  #login-a a:hover {
    background-color: #0be77d;
    color: black;
    border: solid #0f8049;
  }
  .login input[type="submit"]:active,
  #login-a a:active {
    transition: 0s;
    background-color: white;
    border: solid #0be77d;
    color: rgb(97, 96, 96);
  }
  #login-a a {
    position: relative;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    padding: 6px 0 0 0;
    width: 150px;
    left: 60px;
    top: 40px;
    font-weight: bold;
  }
  #login-a a[id='logout'] {
    border-color: rgb(233, 69, 69);
    left: 150px;
    top: 100px;
    transition: .5s;
  }
  #login-a a[id='logout']:hover {
    background-color: rgba(250, 89, 89, 0.884);
    color: white;
  }
  #login-a a[id='logout']:active {
    transition: 0s;
    background-color: white;
    border: solid rgb(233, 69, 69);
    color: rgb(97, 96, 96);
  }
  #login-a a:visited {
    color: rgb(97, 96, 96);
  }
  #login-register {
    position: relative;
    font-weight: bold;
    top: 50px;
    text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button,
  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #nav-buttons {
    width: 100%;
  }
  .navbar {
    box-shadow: inset 0 0 20px 0 #2b4d8e;
  }
  .navbar-brand img {
    width: 60px;
  }
  #nav-buttons a {
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    position: relative;
    top: 0px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: rgb(28, 183, 255);
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
  }
  #nav-buttons a:hover {
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
  }
  #nav-buttons #logout {
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
  }
  #nav-buttons #logout:hover {
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
  }
  .main .main-input {
    position: relative;
  }
  .main .main-input input:focus {
    border-bottom: solid 4px rgb(28, 183, 255);
  }
  .submit:hover {
    box-shadow: 0 0px 10px 0px rgb(28, 183, 255);
  }
  .file-upload {
    display: block;
    text-align: center;
    width: 90%;
    padding-left: 8%;
  }
  .file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #b32361;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
  }
  .file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  .file-upload .file-select:hover {
    border-color: #b32361;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .file-upload .file-select:hover .file-select-button {
    background: #b32361;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .file-upload .file-select.file-select-disabled {
    opacity: 0.65;
  }
  .file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #b32361;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  #divide {
    background-color: #252c31;
    height: auto;
    width: 800px;
    margin: auto;
    display: block;
    position: relative;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #5a6566;
    transition: 0.5s;
  }
  #divide:hover {
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
  }
  #divide>h6 {
    text-align: center;
    color: black;
    width: 100%;
    height: 0;
    padding-top: 10px;
  }
  .modal h6 {
    text-align: left;
  }
  #divide .container {
    position: relative;
    top: 30px;
  }
  #divide button[type='submit'] {
    position: relative;
    left: 35%;
    border-radius: 5px;
    width: 80px;
  }
  #divide input {
    margin-top: 10px;
  }
  .file-upload {
    position: relative;
    top: -7px;
  }
  #divide input[type='text'] {
    width: 200px;
    background-color: red;
  }
  #divide input[type="button"] {
    height: 35px;
    color: white;
  }
  #divide button[name="create"] {
    width: 150px;
    position: relative;
    left: 41%;
    cursor: pointer;
  }
  #divide select[name="year"],
  #divide select[name="section"],
  #divide input[name="total_questions"],
  #divide input[name="duration_in_minutes"],
  #divide input[name="total_marks"],
  #divide input[name="pass_mark"],
  #divide input[name="assessment_date"],
  #divide input[name="start_time"] {
    width: 50%;
    float: left;
    cursor: pointer;
  }
  #divide select {
    margin: 10px 0;
    cursor: pointer;
  }
  #show_result {
    color: white;
    font-weight: bold;
    top: 225px;
    left: 3%;
    position: absolute;
  }
  #divide input[name='create_assessment'] {
    position: relative;
    left: 45%;
  }
  #admin-top-buttons {
    margin: auto;
    position: relative;
    left: 35%;
  }
  #admin-top-buttons button {
    background-color: rgb(85, 195, 238);
    float: left;
    margin-top: 10px;
    margin-left: -5px;
    height: 38px;
    border: none;
    width: 80px;
    transition: .5s;
  }
  #admin-top-buttons button:hover {
    box-shadow: 0 0 20px 2px skyblue;
    transform: scale(1.2);
  }
  #admin-top-buttons input[name="search"],
  #admin-top-buttons select[name="subject_code"] {
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin: 10px 0 0 20px;
    float: left;
    border: 2px solid rgb(1, 183, 255);
  }
  .tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    margin-left: 0%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
  }
  .tftable th {
    font-size: 12px;
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: center;
  }
  .tftable tr {
    background-color: #d4e3e5;
  }
  .tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
  }
  .tftable tr:hover {
    background-color: #ffffff;
  }
  #id {
    width: 20px;
  }
  td button {
    background-color: rgb(0, 101, 141);
    border: none;
    border-radius: 5px;
    height: 25px;
    color: white;
    outline: none;
  }
  #final td {
    width: 40%;
    padding: 2px 10px;
  }
  #final table {
    width: 80%;
  }
  #final th,
  #final td {
    border: 1px solid rgb(0, 54, 75);
  }
  #final h3,
  #final h4 {
    text-align: center;
  }
  #final table {
    margin-left: 10%;
  }
  ol h6 {
    color: red;
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
  }
  #test-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    padding: 50px 30px;
    border: 2px solid rgb(0, 38, 53);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(104, 104, 104);
  }
  #pass,
  #fail,
  #no-result {
    margin-top: 10%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
  }
  #pass {
    box-shadow: 0 0 20px 10px limegreen;
  }
  #fail {
    box-shadow: 0 0 20px 6px rgb(224, 32, 32);
  }
  #no-result {
    box-shadow: 0 0 50px 0px rgb(172, 172, 172);
    border: 2px dashed rgb(0, 79, 110);
  }
  #pass #score {
    box-shadow: 0 0 10px 5px limegreen;
  }
  #fail #score {
    box-shadow: 0 0 10px 3px rgb(224, 32, 32);
  }
  #countDown{
    text-align: center; 
    position: fixed;
    color: #ff0000;
    font-weight: bold;
    background: transparent;
    border: 2px solid red;
  }