<title>KPR - Page not found </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    body {
        background: #dedede;
    }

    .page-wrap {
        min-height: 100vh;
    }
</style>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>KPR - Services</h1>
                <span class="display-1 d-block">500</span>
                <h3>Internal server error</h3>
                <div class="mb-4 lead">There is a problem with resources you are looking for, and it cannot be displayed
                </div>
                <a href="/services" type="button" class="btn btn-primary">Back to KPR Services</a>
            </div>
        </div>
    </div>
</div>